.nav-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 2.81rem;
}

.left-side {
    display: flex;
    width: 50%;
    justify-content: left;
    cursor: pointer;
}

.rectangle {
    height: 2.82rem;
    width: 2.85rem;
    border-radius: 0 1.7rem 1.7rem 0;
    background-color: black;
    transition: background-color 0.3s ease, border-radius 0.3s ease;

    /* Add the animation property */
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {
    to {
        transform: scale(1.5);
    }
}


.right-side {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: right;
    gap: 2.81rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease, transform 1s ease;
}

.nav-container:hover .rectangle {
    border-radius: 0;
    animation: none;
}

.nav-container:hover .right-side {
    opacity: 1;
    transform: translateX(0);
}

.link {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
    }

    .right-side {
        margin: 2rem 0 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-in-out;
    }

    .nav-container:hover .right-side {
        max-height: 60rem;
    }
}
