@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');

.flip-card {
    background-color: transparent;
    width: 25rem;
    height: 25rem;
    perspective: 1000px; 
    border-radius: 50%;
}

.flip-card-image {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


.flip-card-back {
    background-color: #9e9e9e;
    width: 25rem;
    height: 25rem;
    padding: 3rem;
    color: white;
    transform: rotateY(180deg);
}

.project-description {
    margin: 2rem 0;
}

.tech-image {
    height: 3.5rem;
    margin: 0.8rem;
}