.workbox {
    --g: 1.75rem;     /* the gap */
    --b: 0.9rem;    /* border thickness*/
    --c: #F24C62; /* the color */
    --_p: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21rem;
    height: 16rem; 
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(135deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(135deg,var(--_c)) repeat-y;
    background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    transition: .3s;
}

.workbox:hover {
    --_p: 25%;
}

.work-title {
    font-size: 1.4rem;
}

.work-company {
    font-size: 2rem;
    margin: 1rem 0 2rem;
}

.work-time {
    font-size: 1rem;
}

@media screen and (max-width: 1366px) {
    .workbox {
        padding: 2rem;
        margin: 2rem 0;
    }
}