.writing-block-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.writing-block-container:hover {
    transform: scale(1.05);
}

.writing-image {
    width: 14.6rem;
    height: 21rem;
}

.writing-image {
    --m:
        radial-gradient(circle farthest-side at right,#000 99%,#0000) 
            0 100%/46% 92% no-repeat,
        radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
            100% 0/46% 92% no-repeat;
    -webkit-mask: var(--m);
    mask: var(--m);
    filter: grayscale(.5);
    transition: .3s linear;
    cursor: pointer;
}

.writing-image:hover {
    -webkit-mask-position: 7.5% 50%,92.5% 50%;
    mask-position: 7.5% 50%,92.5% 50%;
    filter: grayscale(0);
}

.writing-title {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 1366px) {
    .writing-block-container {
        margin: 0 4rem;
    }
}
