@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');

.writing-block-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.writing-block-container:hover {
    transform: scale(1.05);
}

.writing-image {
    width: 15vw;
    height: 37vh;
}

.writing-image {
    --m:
        radial-gradient(circle farthest-side at right,#000 99%,#0000) 
            0 100%/46% 92% no-repeat,
        radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
            100% 0/46% 92% no-repeat;
    -webkit-mask: var(--m);
    mask: var(--m);
    filter: grayscale(.5);
    transition: .3s linear;
    cursor: pointer;
}

.writing-image:hover {
    -webkit-mask-position: 7.5% 50%,92.5% 50%;
    mask-position: 7.5% 50%,92.5% 50%;
    filter: grayscale(0);
}

.writing-title {
    margin-top: 2.5vh;
    font-size: 2vh;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}