@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 3vw;
    height: 12vh;
}

.title-word {
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 14vh;
    color: black;
}

.dot {
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
    background-color: black;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 5vh 0 5vh 5vw;
    gap: 28vw;
}

.text-blurb {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vh;
    width: 20vw;
}

.bottom {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: center;
    align-items: bottom;
}

.photo {
    width: 179px;
    height: 454px;
    border-radius: 200px 200px 0 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.photo:hover {
    transform: translateY(-3vh);
}