.project-link {
    display: inline;
}

.project-page-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: left;
}

.projects-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-left: 5rem;
    width: 85rem;
    flex-wrap: wrap;
    margin-top: -3rem;
    justify-content: space-evenly;
    margin-bottom: 12rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 3rem;
    width: 34rem;
    height: 55rem;
    background-color: white;
    color: black;
    border: 3px solid black;
    position: absolute;
    top: 35rem;
    left: 8rem;
}

.close-button {
    top: 1rem;
    right: 1rem;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-x {
    height: 3rem;
}

.modal-title {
    font-size: 2rem;
    text-align: center;
}

.modal-body {
    font-size: 1.15rem;
}

.modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image {
    height: 20rem;
    width: 40rem;
}

@media screen and (max-width: 1366px) {
    .project-page-container {
        width: 95%;
    }

    .projects-container {
        margin: 0 0;
        width: 100%;
        flex-direction: row;
        gap: 3rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        width: auto; 
    }

    .modal-content {
        width: 20rem;
        top: 50rem;
        left: 2rem;
        height: 70rem;
    }

    .modal-image {
        width: 15rem;
        height: 7.5rem;
    }
}