.work-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12rem;
}

.work-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10rem;
}

.resume-link {
    margin-top: 6rem;
    text-align: center;
}

.resume-button {
    background: none;
    border: none;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    cursor: pointer;
    text-align: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 3rem;
    font-weight: 700;

    --g: 1.8rem;     /* the gap */
    --b: 0.9rem;    /* border thickness*/
    --c: #005070; /* the color */
    --_p: 75%;
    display: flex;
    flex-direction: column;
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(225deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(225deg,var(--_c)) repeat-y;
    background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    transition: .3s;
}

.line:hover {
    --_p: 25%;
}

@media screen and (max-width: 1366px) {
    .work-container {
        margin-top: -5rem;
        gap: 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 768px) { 
    .work-container {
        margin-top: 2rem;
        flex-direction: column;
        gap: 2.5rem;
    }
}