@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&display=swap');

.writing-container {
    gap: 5vh 15vw;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25vw;
    flex-direction: row;
    justify-content: center;
}

.title-font-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    height: 20vh;
}

.title-font {
    font-family: 'Familjen Grotesk', sans-serif;
    color: black;
    height: 20vh;
    font-size: 12vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}